<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link rel="stylesheet" href="../static/login.css" />
  </head>
  <body>
    <header>
      <h2>Generate Question Paper</h2>
    </header>
    <h2>Login</h2>
    {% if error %}
    <p class="error">{{ error }}</p>
    {% endif %}
    <form method="POST">
      <label>Username:</label>
      <input type="text" name="username" required />
      <br />
      <label>Password:</label>
      <input type="password" name="password" required />
      <br />
      <input type="submit" value="Login" />
    </form>
    <footer>
      <p>&copy; 2025 Flask Question Paper Generator</p>
    </footer>
  </body>
</html>
