<!DOCTYPE html>
<html>
  <head>
    <title>Generate Question Paper - Login</title>
    <link rel="stylesheet" href="../static/login.css" />
  </head>
  <body>
    <div class="container">
      <div class="left">
        <h1>GENERATE QUESTION PAPER</h1>
        <p class="tagline"></p>

        <form method="POST">
          {% if error %}
          <p class="error">{{ error }}</p>
          {% endif %}
          <input type="text" name="username" placeholder="Username" required />
          <input
            type="password"
            name="password"
            placeholder="Password"
            required
          />
          <button type="submit">Log In <span class="arrow">➜</span></button>
        </form>
      </div>

      <div class="right">
        <div class="hex-container">
          <img src="{{ url_for('static', filename='img1.png') }}" class="hex" />
          <img src="{{ url_for('static', filename='img2.png') }}" class="hex" />
          <img src="{{ url_for('static', filename='img3.png') }}" class="hex" />
        </div>
      </div>
    </div>
    <footer>
      <p>&copy; 2025  Question Paper Generator</p>
    </footer>
  </body>
</html>
